.app {
  text-align: center;
  background-color: rgb(154, 154, 154);
  width: 450px;
  height: 250px;
  justify-items: center;
  padding-top: 80px;
  margin: auto;
}

input{
  text-align: center;
  border: 2px solid;
  border-radius: 10px;
}

#sendButton{
  margin-top: 80px;
  border-radius: 5px;
}

option{
  text-align: center;
}

.selectMenu{
  margin-top: 25px;
}

.ben{
  margin-left: 210px;
}

.homepage{
  margin: auto;
  border: 2px solid;
}